.main {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
}

h1 {
    font-size: 50px;
    width: 650px;
}