.background {
    background-image: url('../../../../assets/images/1061065.png');
    height: 600px;
    background-size: cover;
}

.shade {
    background-color: rgba(0, 0, 0, 0.6);
    height: 600px;
}